Zadanie 1

In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv("PAD_02_PD.csv",delimiter = ";")
df['count'] = 1
df2 = df.groupby(['Country']).count()['count']
df2

Country
A    328
B    201
C    186
D     78
Name: count, dtype: int64

Zadanie 2

In [6]:
df['owns_goods'] = df['owns_car'] + df['owns_TV'] + df['owns_house'] + df['owns_Phone']
df.head(10)

,ID,Country,owns_car,owns_TV,owns_house,owns_Phone,gender,Age,count,owns_goods
0,1,A,0.0,0.0,0.0,1,M,61,1,1.0
1,2,B,0.0,0.0,0.0,1,M,44,1,1.0
2,3,A,0.0,0.0,0.0,1,M,56,1,1.0
3,4,A,0.0,0.0,0.0,1,M,53,1,1.0
4,5,C,1.0,1.0,0.0,1,K,60,1,3.0
5,6,A,0.0,0.0,0.0,1,M,48,1,1.0
6,7,D,1.0,1.0,1.0,1,K,58,1,4.0
7,8,C,0.0,1.0,0.0,1,K,59,1,2.0
8,9,A,0.0,0.0,0.0,1,M,61,1,1.0
9,10,A,0.0,0.0,0.0,1,M,48,1,1.0

Zadanie 3

In [7]:
df.groupby(['gender']).mean()['owns_goods']

gender
K    2.797403
M    0.887500
Name: owns_goods, dtype: float64

Zadanie 4

In [10]:
df['IsFemale'] = np.where(df['gender'] == 'K', 1, 0)
number_female = df.groupby(['Country']).sum()['IsFemale'].tolist()
number_people = df.groupby(['Country']).sum()['count'].tolist()
mean_owns_goods = df.groupby(['Country']).mean()['owns_goods'].tolist()
min_age = df.groupby(['Country']).min()['Age'].tolist()
country = df['Country'].unique().tolist()
percentage_women = [number_female/number_people*100 for number_female,number_people in zip(number_female,number_people)]
country.pop() #usuniecie pustego indeksu listy z powodu braku w danych
df2 = { 'Country' : country, 'min_age' : min_age, "mean_owns_goods" : mean_owns_goods, "percentage_women" : percentage_women}
result = pd.DataFrame(df2)
result

  Country  min_age  mean_owns_goods  percentage_women
0       A       18         0.861538          0.000000
1       B       18         1.461929         62.189055
2       C       18         3.032787         98.924731
3       D       18         4.000000        100.000000