Programowanie w Analityce Danych
Praca domowa 4
Zadanie 1
Zbiór danych bank.csv opisuje kontakty telefoniczne jakich dokonano z klientami pewnego banku, w celu przekonania ich do skorzystania z nowej oferty tegoż banku.
W oparciu o zawarte w zbiorze dane odpowiedz na następujące pytania:
a)	W którym miesiącu dokonano najwięcej połączeń, a w którym najmniej?
b)	W którym miesiącu średni czas rozmowy był największy?
c)	Czy wykształcenie przekłada się na posiadane oszczędności? (Kolumna balance)
d)	Ile lat miała najstarsza osoba będąca w związku małżeńskim, a ile najstarszy singiel?

In [51]:
import pandas as pd
import numpy as np

df = pd.read_csv("bank.csv",delimiter = ";")
df.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226

a)

In [65]:
df['month'].value_counts() #najwiecej polaczen w may, najmniej w dec

may    1398
jul     706
aug     633
jun     531
nov     389
apr     293
feb     222
jan     148
oct      80
sep      52
mar      49
dec      20
Name: month, dtype: int64

b)

In [64]:
df.groupby(['month']).duration.mean() #najwiecej dec, najmniej mar

month
apr    294.354949
aug    243.742496
dec    416.900000
feb    255.698198
jan    269.540541
jul    271.205382
jun    252.425612
mar    198.897959
may    267.316166
nov    272.066838
oct    272.800000
sep    215.730769
Name: duration, dtype: float64

c)

In [66]:
df.groupby(['education']).balance.mean() #nie mozna okreslic jednoznacznie, osoby z wyksztalceniem primary maja wieksze oszczednosci niz secondary, ale tertiary maja najwieksze.

education
primary      1411.544248
secondary    1196.814397
tertiary     1775.423704
unknown      1701.245989
Name: balance, dtype: float64

d)

In [69]:
df.groupby(['marital']).age.agg([min,max])

          min  max
marital
divorced   26   84
married    23   87
single     19   69